<!-- As a link -->
<nav class="navbar navbar-light bg-dark " >
    <a class="navbar-brand  " href="#" style="color:rgb(85, 98, 237);"><b>&#169; HAFC Bank Pvt.Ltd </b></a>
    <span class="quote text-light">Giving you freedom...</span>
    <button class="btn btn-warning"  (click)="logout()">Log Out</button>
  </nav>
  
  <h3 style="color: white;">Welcome {{user}} !!!
  <button (click)="deleteParent()" class="btn btn-danger" style="float: right;margin-right:20px">Delete</button>
  </h3>

  <h4 style="color:white" >Login Details : {{lDate | date : 'short'}} </h4>
  <a routerLink="/transaction">View transaction History</a>

  <!-- delete confirm child -->
  <app-delete-confirm (onDelete)="onDelete($event)" (onCancel)="cancel()" [item]="acno"></app-delete-confirm>
  <!-- DEPOSIT FORM -->
  
  <div class="row" [ngClass]="acno?'style1':'' ">
    <div class="col-4"></div>
    <div class="col-lg-4 col-md-12 mt-1 border">

           <div id="div1" style="width:80%;margin: auto;" class="mt-3">
            <h3 style="color:white ;text-align: center;">DEPOSIT FORM</h3>
                <form [formGroup]="depositForm" (ngSubmit)="deposit()" action="" style="border: 3%;">
                    <input name="acno" formControlName="acno" type="text" class="form-control mt-2" placeholder="Account Number" id="login_accno">
                    <div *ngIf="this.depositForm.get('acno')?.touched&&this.depositForm.get('acno')?.errors" style="color:rgb(115, 204, 115) ;">Invalid Accountnumber!</div>

                    <input name="pswrd" formControlName="pswrd" type="password" class="form-control mt-2" placeholder="Password" id="login_password">
                    <div *ngIf="this.depositForm.get('pswrd')?.touched&&this.depositForm.get('pswrd')?.errors" style="color:rgb(115, 204, 115) ;">Invalid Password!</div>

                    <input name="amount" formControlName="amount" type="text" class="form-control mt-2" placeholder="Amount" id="login_amount">
                    <div *ngIf="this.depositForm.get('amount')?.touched&&this.depositForm.get('amount')?.errors" style="color:rgb(115, 204, 115) ;">Invalid Amount!</div>

                    <input type="submit" value="Deposit" class="btn float-left mt-2 mb-2 form-control" style="width:50%;margin-left: 25%;background-color:sandybrown;color:black;">
                </form>
           </div>
    </div>
    <div class="col-4"></div>
  </div>

  

  <!-- WITHDRAW FORM -->

  <div class="row mt-2" [ngClass]="acno?'style1':'' ">
    <div class="col-4"></div>
    <div class="col-lg-4 col-md-12 mt-2 border">

           <div id="div2" style="width:80%;margin: auto;" class="mt-3">
            <h3 style="color:white ;text-align: center;">WITHDRAW FORM</h3>
                <form [formGroup]="withdrawForm" (ngSubmit)="withdraw()" action="" style="border: 3%;">
                    <input name="acno" formControlName="acno" type="text" class="form-control mt-2" placeholder="Account Number" id="login_accno1">
                    <div *ngIf="this.withdrawForm.get('acno')?.touched&&this.withdrawForm.get('acno')?.errors" style="color:rgb(115, 204, 115) ;">Invalid Accountnumber!</div>

                    <input name="pswrd" formControlName="pswrd" type="password" class="form-control mt-2" placeholder="Password" id="login_password1">
                    <div *ngIf="this.withdrawForm.get('pswrd')?.touched&&this.withdrawForm.get('pswrd')?.errors" style="color:rgb(115, 204, 115) ;">Invalid Password!</div>

                    <input name="amount" formControlName="amount" type="text" class="form-control mt-2" placeholder="Amount" id="login_amount1">
                    <div *ngIf="this.withdrawForm.get('amount')?.touched&&this.withdrawForm.get('amount')?.errors" style="color:rgb(115, 204, 115) ;">Invalid Amount!</div>

                    <input type="submit" value="Withdraw" class="btn float-left mt-2 mb-1 form-control" style="width:50%;margin-left: 25%;background-color:sandybrown;color:black;">
                </form>
           </div>
    </div>
    <div class="col-4"></div>
  </div>


